body {
  background: rgb(244, 34, 114);
  background: linear-gradient(120deg, rgba(244, 34, 114, 1) 0%, rgba(0, 149, 161, 1) 30%, rgba(0, 149, 161, 1) 100%);
  margin: 0;
  padding: 0;
}

.Layout-dateEditors {
  display: flex !important;
  justify-content: space-between !important;
  gap: 8px;
  margin-top: 24px;
  margin-bottom: 24px;
}